extends layouts/main
include mixins/videoBlock
block content
    .video
        video.videoBlock__thumbnail(src=${fileUrl}, autoplay=true,controls=true)
        h4.videoBlock__title=title=title
        
